<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" th:remove="tag">
<link th:href="@{/css/style.css}" rel="stylesheet">
<!-- bootstrap読込 -->
<title>技術書投稿ページ</title>
</head>

<body class="bg-light h-100 vstack">
    <div layout:fragment="content" class="container-fluid">

        <div class = "container formpos">
            <div class = "row align-items-center justify-content-center mx-4">
                <div class ="card shadow">
                    <div class ="card-body">
                        <h3 class="card-title mb-3 text-center text-navy">技術書登録</h3>
                        <form th:action="@{/add}" th:object="${book}" method="post" novalidate class="myform">
                            <div class="lefttext"> 
                                <input type="hidden" th:field="*{bookId}">
                                <div class="mb-3 inputform">
                                    <label for="book_name" class="form-label">
                                        <span class="badge bg-danger">必須</span>
                                        書名
                                    </label>
                                    <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{title}" placeholder="ex) 吾輩は猫である">
                                    <div class="invalid-feedback" th:errors="*{title}"></div>
                                </div>
    
    
                                <div class="mb-3 inputform">
                                    <label for="book_isbn" class="form-label">
                                        <span class="badge bg-danger">必須</span>
                                        ISBN(10桁か13桁)
                                    </label>
                                    <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{ISBN}" placeholder="ハイフンなしで入力 ex)9784478016602">
                                    <div class="invalid-feedback" th:errors="*{ISBN}"></div>
                                </div>
    
    
                                <div class="mb-3 inputform">
                                    <label for="author_name" class="form-label">
                                        <span class="badge bg-danger">必須</span>
                                        著者名
                                    </label>
                                    <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{author}" placeholder="近大 太郎">
                                    <div class="invalid-feedback" th:errors="*{author}"></div>
                                </div>
                            </div>
                            <button class="btn rounded-pill postbook" type="submit">登録</button>
                        </form>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>