<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" th:remove="tag">
<link th:href="@{css/style.css}" rel="stylesheet">
<title>技術書投稿ページ</title>
</head>

<body class="bg-light h-100 vstack">
    <div layout:fragment="content" class="container-fluid">

        <div class = "container formpos">
            <div class = "row align-items-center justify-content-center mx-4">
                <div class ="card shadow">
                    <div class ="card-body">
                        <h3 class="card-title mb-3 text-center text-navy">コメントを投稿</h3>
                        <form th:action="@{/comment}" th:object="${comment}" method="post" novalidate class="myform">
                            <div class="lefttext"> 
                                <input type="hidden" th:field="*{commentId}">
                                <div class="mb-3 inputform">
                                    <label for="book_name" class="form-label">
                                        <span class="badge bg-danger">必須</span>
                                        コメント
                                    </label>
                                    <textarea class="form-control" type="text" th:errorclass="is-invalid" th:field="*{content}"></textarea>
                                    <div class="invalid-feedback" th:errors="*{content}"></div>
                                </div>
                            </div>
                            <button class="btn rounded-pill postbook" type="submit">コメントする</button>
                        </form>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>