<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" th:remove="tag">
<title>トップページ</title>
</head>
<body>
    <div layout:fragment="content" class="container-fluid">
        <th:block th:each="book : ${books}" th:object="${book}" th:if="${books.size > 0}">
            <div class="row">
                <p th:text="*{name}"></p>
                <p th:text="*{author}"></p>
                <p th:text="*{ISBN}"></p>
                <p th:text="*{lastEditDate}"></p>
            </div>
        </th:block>
    </div>
</body>
</html>