<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 参照先をリンクURL式「@{...}」で指定  -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- アイコン読み込み -->
<link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
<link th:href="@{css/style.css}" rel="stylesheet">
<title>ログインページ</title>
</head>
<body class="bg-light h-100 vstack">
	<div class="container" style="padding-top: 50px;">
		<div class="row align-items-center justify-content-center formpos">
			<div class="card shadow text-center" style="max-width: 480px;">
				<div class="card-body">
					<h3 class="card-title mb-3 text-center">技術書SNSにログインする</h3>
					
					<div th:replace="~{fragments/message :: login}"></div>

					<form th:action="@{/login}" method="post">
						<div class="mb-3">
							<input class="form-control" type="text" name="username" placeholder="ユーザID">
						</div>
						
						<div class="mb-3">
							<input class="form-control" type="password" name="password" placeholder="パスワード">
						</div>
						
						<div class="mb-3 form-check lefttext">
							<input class="form-check-input" type="checkbox" id="remember-me" name="remember-me">
							<label class="form-check-label" for="remember-me">ログインしたままにする</label>
						</div>
						
						<button class="btn btn-primary rounded-pill loginBtn" type="submit">ログイン</button> 
					</form>
					
					<hr>
					
					<div class="text-center">
						<a th:href="@{/signup}" class="text-navy">
							新規登録
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>