<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 参照先をリンクURL式「@{...}」で指定  -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div th:fragment="login">
    <!-- ${param}でリクエストパラメータ保持 -->
        <div class="alert alert-danger" th:if="${param.error}">
            <small>ユーザ名またはパスワードが正しくありません</small>
        </div>
        <div class="alert alert-success" th:if="${param.register}">
            <small>ユーザを新規登録しました</small>
        </div>
        <div class="alert alert-success" th:if="${param.logout}">
            <small>ログアウトしました</small>
        </div>
    </div>

    <div th:fragment="search">
        <div th:if="${param.word} neq null">
            <div class="alert alert-success message" th:if="${param.word} and ${books.size > 0}">
                <small th:text="|${books.size}件の検索結果が見つかりました|"></small>
            </div>
            <div class="alert alert-danger message" th:if="${books.size} eq 0">
                <small th:text="|${param.word}を含む投稿は見つかりませんでした。|"></small>
            </div>
        </div>
    </div>

    <!-- エラーメッセージ -->
	<div th:fragment="error">
		<div class="text-center">
			<div class="display-1" th:text="${status}"></div>
			<div class="text-muted mb-4" th:text="${error}"></div>
			
			<div class="text-muted">ページを表示できません</div>
			<a th:href="@{/}">&larr; ホームに戻る</a>
		</div>
	</div>
</body>
</html>