@charset "UTF-8";

.postbook {
	font-size: 20px;
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #66CC66;
	color: #FFFFEE;
	margin-left: auto;
	margin-bottom: 10px;
}

.postbook:hover{
	color: #FFFFDD;
	background-color: #5BFF7F;
}

.myform {
	text-align: center;
}

.lefttext {
	text-align: left;
}

.formpos {
	padding-top: 100px;

}

.inputform {
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 40px;
}

.loginBtn{
	font-size: 20px;
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
}

.cardlayout {
	margin-left: 23%;
	margin-right: 23%;
}

.cardcontent {
	padding-top: 3%;
	font-size: 20px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.mybutton {
	background-color: white;
	border: 2px solid gray;
	border-radius: 3px;
}

.mybutton:hover {
	background-color: #CCCCCC;
}

.post-book-button {
	border: 2px solid white;
	border-radius:  3px;;
}

.post-book-button:hover {
	background-color: #197040;
}

.message {
	margin-left: 25%;
	margin-right: 25%;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 40%;
	margin-top: 10%;
	animation: anim 1s forwards;
	z-index: 100;
}

@keyframes anim {
	0% {
		transform: translateX(-20%);
	}
	
	100% {
		transform: translateX(10%);
	}
}

.reload {
	cursor: pointer;
	margin-left: 2%;
	text-decoration: underline;;
}