<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syspro.booksns.repository.BookMapper">
	<select id="selectAll" resultType="com.syspro.booksns.model.Book">
		SELECT * FROM book
	</select>
	
	<select id="selectByPrimaryKey" resultType="com.syspro.booksns.model.Book">
		SELECT * FROM book
		WHERE book_id = #{bookId}
	</select>
	
	<insert id="insert">
		INSERT INTO book(last_edited_info_id)
		VALUES(#{lastEditedInfoId})
	</insert>
	
	<update id="updateByPrimaryKey">
		UPDATE book
		SET last_edited_info_id = #{lastEditedInfoId}
		WHERE book_id = #bookId}
	</update>
	
	<delete id="deleteByPrimaryKey">
		DELETE FROM book
		WHERE book_id = #{bookId}
	</delete>
</mapper>