<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syspro.booksns.repository.BookInfoMapper">
	<select id="selectAll" resultType="com.syspro.booksns.model.BookInfo">
		SELECT * FROM bookInfo
	</select>
	
	<select id="selectByPrimaryKey" resultType="com.syspro.booksns.model.BookInfo">
		SELECT * FROM bookInfo
		WHERE book_info_id = #{bookInfoId}
	</select>
	
	<insert id="insert">
		INSERT INTO bookInfo(name, author, ISBN, last_edit_date, editor_id)
		VALUES(#{name}, #{author}, #{ISBN}, #{lastEditDate}, #{editorId})
	</insert>
	
	<update id="updateByPrimaryKey">
		UPDATE bookInfo
		SET name = #{name}, author = #{author}, ISBN = #{ISBN}, last_edit_date = #{lastEditDate}, editor_id = #{editorId}
		WHERE book_info_id = #{bookInfoId}
	</update>
	
	<delete id="deleteByPrimaryKey">
		DELETE FROM bookInfo
		WHERE book_info_id = #{bookInfoId}
	</delete>
	
	<!-- ここからテーブル結合のための記述 -->
	<resultMap type="com.syspro.booksns.model.User" id="user">
		<id property="userId" column="user_id"/>
		<result property="name" column="name"/>
		<result property="profile" column="profile"/>
	</resultMap>
	
	<resultMap type="com.syspro.booksns.model.BookInfo" id="bookInfo">
		<id property="bookInfoId" column="book_info_id"/>
		<result property="name" column="name"/>
		<result property="author" column="author"/>
		<result property="ISBN" column="ISBN"/>
		<result property="lastEditDate" column="last_edit_date"/>
		<association property="user" resultMap="user"/>
	</resultMap>
	
	<resultMap type="com.syspro.booksns.model.PastBookInfo" id="pastBookInfo">
		<id property="pastBookInfoId" column="past_book_info_id"/>
		<result property="lastDate" column="last_date"/>
	</resultMap>
	
	<select id="selectUser" resultMap="user" resultType="com.syspro.booksns.model.User">
		SELECT users.*
		FROM bookInfo
		INNER JOIN users
		ON bookInfo.editor_id = users.user_id
		WHERE bookInfo.book_info_id = #{bookInfoId}
	</select>
	
	<select id="selectInfos" resultMap="pastBookInfo" resultType="com.syspro.booksns.model.PastBookInfo">
		SELECT pastBookInfo.*
		FROM bookInfo
		INNER JOIN pastBookInfo
		ON bookInfo.book_info_id = pastBookInfo.book_info_id
		WHERE bookInfo.book_info_id = #{bookInfoId}
	</select>
</mapper>