<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syspro.booksns.repository.PastBookInfoMapper">
	<select id="selectAll" resultType="PastBookInfo">
		SELECT * FROM pastBookInfo
	</select>
	
	<select id="selectByPrimaryKey" resultType="PastBookInfo">
		SELECT * FROM pastBookInfo
		WHERE id = #{pastBookInfoId}
	</select>
	
	<insert id="insert">
		INSERT INTO pastBookInfo(bookInfoId, lastDate)
		VALUES(#{bookInfoId}, #{lastDate})
	</insert>
	
	<update id="updateByPrimaryKey">
		UPDATE pastBookInfo
		SET bookInfoId = #{bookInfoId}, lastDate = #{lastDate}
		WHERE pastBookInfoId = #{pastBookInfoId}
	</update>
	
	<delete id="deleteByPrimaryKey">
		DELETE FROM pastBookInfo
		WHERE pastBookInfoId = #{pastBookInfoId}
	</delete>
</mapper>