<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" class="h-100">
<head>
<meta charset="UTF-8">
<!-- 参照先をリンクURL式「@{...}」で指定  -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- アイコン読み込み -->
<link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<!--ひな型 ここにヘッダー、コンテンツ、フッターの並びとかを記述する-->
<body class="bg-light h-100 vstack">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" id="navbar" role="navigation">
		<div class="container-fluid">
			<a class="navbar-brand ms-3" href="/">
				<i class="bi bi-book"></i>
				技術書 SNS
			</a>
			
			<!-- トグルボタン -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" 
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- リンク一覧 -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto me-5">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/}">
						ホームへ
						</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link active" th:href="@{/logout}">
						ログアウト
						</a>
					</li>

					<li class="nav-item me-2">
						<a class="nav-link active btn post-book-button" th:href="@{/add}">
							<i class="bi bi-pencil"></i>
							投稿する
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active btn post-book-button" th:href="@{/search}">
							<i class="bi bi-search"></i>
							検索する
						</a>
					</li>
				</ul>
				<div class="row">
					
				</div>
			</div>
			
		</div>
	</nav>


    <div layout:fragment="content">
    </div>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>