<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" class="h-100">
<head>
<meta charset="UTF-8">
<!-- 参照先をリンクURL式「@{...}」で指定  -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- アイコン読み込み -->
<link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
<title>Insert title here</title>
</head>
<!--ひな型 ここにヘッダー、コンテンツ、フッターの並びとかを記述する-->
<body class="bg-light h-100 vstack">
    <div layout:fragment="content">
    </div>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>